/* Colores utilizados: blanco (#FFFFFF), naranja ocaso (#FF5841), rojo-violeta (#C53678) */

body {
    font-family: 'Manrope', sans-serif;
    background: #FFFFFF;
    height: 100vh;
}

.todo-container {
    max-width: 400px;
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    padding: 32px 24px;
}

.todo-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.todo-title.bounce span {
    display: inline-block;
    animation: bounce 1.2s infinite ease-in-out;
    background: linear-gradient(90deg, #dd1573, #C53678);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bounce span {
    display: inline-block;
    animation: bounce 1.2s infinite ease-in-out;
}

.bounce span:nth-child(odd) {
    animation-delay: 0.1s;
}

.bounce span:nth-child(even) {
    animation-delay: 0.3s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.todo-list {
    list-style: none;
    padding: 0;
}