body {
    background-color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #dbefff);
    height: 100vh;
}

.todo-container {
    max-width: 400px;
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    padding: 32px 24px;
}

.todo-title {
    text-align: center;
    color: #333;
    margin-bottom: 18px;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.todo-list {
    list-style: none;
    padding: 0;
}